@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  test_animation {
    animation-duration: 3s;
    animation-name: slidein;
  }

  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
