@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .height_full {
    height: 89.5%;
    background-color: aqua;
  }
  body {
    overflow: hidden;
    height: 100%;
  }
}
